#navbar {
  background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("/images/banner.png")!important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
#sidebar {
  width: 220px !important;
}
