#navbar {
  background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("0d91398b-3a42-4ba4-bcb8-792e123ed46f.jpg");
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
}
#sidebar {
  width: 220px !important;
}
